@import 'variables';

.alert.alert-info {
  background-color: #3498DB;
  color: $color-white;

  a {
    color: $color-white;
    text-decoration: underline;
    font-weight: 700;
  }
}

.btn, .nav-pills>li>a {
  border-radius: 0.35rem;
}

.nav-pills>li>a:hover {
  background-color: #0a2d50;
  color: $color-white;
}

.post-notice {
  background-color: #3498DB;
  color: $color-white;

  svg {
    color: $color-white;
  }
}

.select-kit .select-kit-row.is-highlighted {
    background: $color-white;
}

// Below copied from er-theme.

.alert-info {
  background-color: #3498db;
  color: #0a2639;
}

.alert-success {
  background-color: #28c382;
  color: #051a11;
}

.alert-danger {
  background-color: #e2231a;
  color: #FFF;
}

.alert-warning {
  background-color: #f39c12;
  color: #362203;
}

// Below copied from mint theme.

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.d-editor-textarea-wrapper,
.select-kit-header,
.search-menu .search-input {
  @include border-radius;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.d-editor-textarea-wrapper.in-focus,
.select-kit.multi-select.is-expanded .multi-select-header,
.select-kit.single-select.is-expanded .select-kit-header:not(.btn),
.select-kit.single-select .select-kit-header:not(.btn):focus,
.select-kit.single-select .select-kit-header:not(.btn):active {
  @include border-radius;
  box-shadow: none;
  outline: none;
}

.category-boxes {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 32% 32% 32%;
  @include border-radius;

  .category-box {
    width: 100%;
    margin: 0;
    overflow: hidden;
    border: none;
    border-top: 8px solid;
    background: var(--secondary);
    @include border-radius;
    box-shadow: 0px 2px 3px 0px rgba(2, 47, 57, .14);

    .category-box-inner {
      border: none;
      padding: 0;

      .category-details {
        padding: 2em;
      }
    }

    &:hover {
      box-shadow: 0px 40px 30px 0px rgba(2, 47, 57, .10);
      transform: translateY(-2px);
    }
  }
}

@media (max-width: 960px) {
  .category-boxes.with-logos.with-subcategories {
    grid-template-columns: 1fr;
  }
}

.custom-homepage-columns {
  margin: 2em 0 2em 0;

  .col {
    position: relative;
    @include border-radius;
    background: $color-white;
    padding: 2em 2em 1em;
    border-top: 8px solid $tertiary;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .10), 0 12px 90px 0 rgba(133, 255, 103, .10);

    .header-wrapper {
      color: var(--primary);
      background-color: transparent;

      .btn-primary {
        display: none;
      }
    }

    .btn-more {
      color: var(--secondary);
      background: var(--tertiary);
      transition: all 0.3s linear;
      @include border-radius;
      text-transform: uppercase;
      border: 1px solid var(--tertiary);

      &:hover {
        background: var(--tertiary);
        color: var(--secondary);
        box-shadow: 4px 4px $color-gray-200;
        transition: 0.3s;
        @include border-radius;
      }
    }
  }
}