@import 'variables';

.d-header {
  height: 4.6em;
  background-image: url(https://theme.er.kcl.ac.uk/images/header.png?003e2cd…);
  background-repeat: no-repeat;
  background-position: right top;

  .title {
    width: 0;

    @media (min-width: 700px) {
      width: 150px;
    }

    @media (min-width: 1076px) {
      width: 120px;
    }
  }

  #site-logo {
    display: none;
    position: absolute;
    top: 0;
    left: -10px;
    height: 69px;
    width: 92px;

    @media (min-width: 700px) {
      display: block;
    }

    @media (min-width: 1076px) {
      height: 100px;
      width: 130px;
    }

    @media (min-width: 1303px) {
      height: 100px;
      width: 130px;
    }
  }

  .d-header-icons {
    .d-icon {
      color: #e6ebed;
    }

    .icon:hover, .icon:focus {
      color: #000;
      background-color: #e6ebed;
    }
  }
}

#banner {
    padding: 1em;
    border: 1px solid #333c3e;
    background: #FBFBFB;
}

#d-sidebar {
  padding-top: 30px;
}

// Below copied from mint theme.


body:not(.navigation-categories):not(.navigation-topics) #main-outlet {
  @include border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .10), 0 12px 90px 0 rgba(133, 255, 103, .10);
  padding: 5em 2em 2em 2em;
  background-color: $color-white;
}
