@import "common/foundation/variables";

.d-header {
  height: 4.6em;
  background-image: url(https://theme.nms.kcl.ac.uk/images/header.png?003e2cd…);
  background-repeat: no-repeat;
  background-position: right top;

  .title {
    width: 80px;
  }

  #site-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 92px;

    @media (min-width: 1076px) {
      left: -4%;
      height: 100px;
      width: 130px;
    }

    @media (min-width: 1303px) {
      left: -7%;
      height: 100px;
      width: 130px;
    }
  }

  .d-header-icons {
    .d-icon {
      color: #e6ebed;
    }

    .icon:hover, .icon:focus {
      color: #000;
      background-color: #e6ebed;
    }
  }
}

#main-outlet {
  padding-top: 7.5em;
}
